Source: 6005.cw1.me6g08
Section: unknown
Priority: extra
Maintainer: Mike Elkins <me6g08@ecs.soton.ac.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/6005.cw1.me6g08.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/6005.cw1.me6g08.git;a=summary

Package: 6005.cw1.me6g08
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, php
Description: A Simple RSS Reader to read the latest news items from a feed.
 An RSS Reader which uses a config file to read the
 latest news from an RSS feed defined by a user.
