#!/usr/bin/make -f
# -*- makefile -*-	at uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

examples = $(CURDIR)/examples.txt
script = $(CURDIR)/index.php
library = $(CURDIR)/rss_php.php
config = $(CURDIR)/feeds.conf
launcher = $(CURDIR)/rssread.sh

DEST1 = $(CURDIR)/debian/6005.cw1.me6g08/usr/share/6005.cw1.me6g08
DEST2 = $(CURDIR)/debian/6005.cw1.me6g08/usr/share/applications

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(examples) $(script) $(library) $(config)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(DEST1)
	mkdir -m 755 -p $(DEST2)

	install -m 777 $(script) $(DEST1)
	install -m 777 $(library) $(DEST1)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
PHONY: build clean binary-indep binary-arch binary install
	

%:
	dh $@ 

