#!/usr/bin/make -f
# -*- makefile -*-	at uses debhelper.

script = $(CURDIR)/src/index.php
library = $(CURDIR)/src/rss_php.php
config = $(CURDIR)/src/feeds.conf
launcher = $(CURDIR)/src/6005.cw1.me6g08

DEST1 = $(CURDIR)/debian/6005.cw1.me6g08/usr/share/6005.cw1.me6g08
DEST2 = $(CURDIR)/debian/6005.cw1.me6g08/usr/bin

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(script) $(library) $(config) $(launcher)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	mkdir -m 755 -p $(DEST1)
	mkdir -m 755 -p $(DEST2)

	install -m 444 $(script) $(DEST1)
	install -m 444 $(library) $(DEST1)
	install -m 444 $(config) $(DEST1)
	install -m 777 $(launcher) $(DEST2)

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
PHONY: build clean binary-indep binary-arch binary install
	

%:
	dh $@ 

