Package: 6005.cw1.me6g08
Version: 1.0-1
Architecture: i386
Maintainer: Mike Elkins <me6g08@ecs.soton.ac.uk>
Installed-Size: 76
Depends: php5-cli, debconf
Section: net
Priority: extra
Homepage: https://github.com/melkins/6005.cw1.me6g08
Description: Simple RSS Reader to read the latest news items from a feed.
 RSS Reader which uses a config file to read the
 latest news from an RSS feed defined by a user.
